.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 1px solid white;
  padding: 2rem;
}
.displays {
  width: 400px;
  height: 100px;
  background-color: white;
  border-radius: 10p;
  -webkit-border-radius: 10p;
  -moz-border-radius: 10p;
  -ms-border-radius: 10p;
  -o-border-radius: 10p;
}
.buttons {
  display: grid;
  grid-template-columns: 150px 50px;
  grid-template-rows: 500px;
  grid-column-gap: 12px;
  grid-row-gap: 0px;
}
